@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Manrope";
  src: url("./fonts/Manrope-VariableFont_wght.ttf") format("ttf");
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #fff;
  color: #121417;
}

.no_scroll {
  overflow: hidden !important;
}

.collapse-plus > .collapse-title:after {
  top: 1.8rem;
  right: 50px;
}
